<div class="technologies-container container">
  <h2>{{ translate('nav.technologies') }}</h2>
  
  <div class="tech-category">
    <h3>Core Platforms & Frameworks</h3>
    <div class="tech-grid">
      <div class="tech-item glass">
        <img src="assets/icons/c-sharp.png" alt="C#" />
        <span>C# .NET</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/.net.png" alt=".NET" />
        <span>.NET Core</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/angular.png" alt="Angular" />
        <span>Angular</span>
      </div>
    </div>
  </div>

  <div class="tech-category">
    <h3>Data & Performance</h3>
    <div class="tech-grid">
      <div class="tech-item glass">
        <img src="assets/icons/sql-server.png" alt="SQL Server" />
        <span>MS SQL</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/redis.png" alt="Redis" />
        <span>Redis</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/dapperpng.png" alt="Dapper" />
        <span>Dapper</span>
      </div>
    </div>
  </div>

  <div class="tech-category">
    <h3>Communication & Infrastructure</h3>
    <div class="tech-grid">
      <div class="tech-item glass">
        <img src="assets/icons/rabbt.png" alt="RabbitMQ" />
        <span>RabbitMQ</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/kubernetes.png" alt="Kubernetes" />
        <span>Kubernetes</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/docker.png" alt="Docker" />
        <span>Docker</span>
      </div>
      <div class="tech-item glass">
        <img src="assets/icons/git.png" alt="Git" />
        <span>Git</span>
      </div>
    </div>
  </div>
</div>
