<div class="about-container container">
  <div class="about-content">
    <div class="about-text">
      <h2>{{ translate('about.title') }}</h2>
      <p class="about-description">
        {{ translate('about.description1') }}
      </p>
      <p class="about-description">
        {{ translate('about.description2') }}
      </p>
      <div class="about-highlights">
        <div class="highlight-item">
          <span class="highlight-number">9+</span>
          <span class="highlight-label">{{ translate('about.experience_label') }}</span>
        </div>
        <div class="highlight-item">
          <span class="highlight-number">20+</span>
          <span class="highlight-label">{{ translate('about.projects_label') }}</span>
        </div>
        <div class="highlight-item">
          <span class="highlight-number">15+</span>
          <span class="highlight-label">{{ translate('about.technologies_label') }}</span>
        </div>
      </div>
    </div>
    <div class="about-image glass">
      <img src="assets/images/about.png" alt="{{ translate('about.title') }}" />
    </div>
  </div>
</div>
