<div class="companies-container container">
  <h2>{{ translate('companies.title') }}</h2>
  <div class="carousel">
    <div class="carousel-track">
      <div class="company-logo">
        <img src="assets/companies/orange.png" alt="Orange" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/tvp.png" alt="TVP" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/cwinf.png" alt="CWinf" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/bgk.png" alt="BGK" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/medsoft.png" alt="Medsoft" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/regenersis.jpg" alt="Regenersis" />
      </div>
      <!-- Duplicate logos for seamless loop -->
      <div class="company-logo">
        <img src="assets/companies/orange.png" alt="Orange" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/tvp.png" alt="TVP" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/cwinf.png" alt="CWinf" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/bgk.png" alt="BGK" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/medsoft.png" alt="Medsoft" />
      </div>
      <div class="company-logo">
        <img src="assets/companies/regenersis.jpg" alt="Regenersis" />
      </div>
      
    </div>
  </div>
</div>
