<div class="experience-container container">
  <h2>{{ translate('exp.title') }}</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-date">01.09.2020 - {{ translate('exp.date_present') }}</div>
      <div class="timeline-content glass">
        <h3>{{ translate('exp.senior_net_title') }}</h3>
        <p class="company">{{ translate('exp.bgk_company') }}</p>
        <ul>
          <li>{{ translate('exp.bgk_senior_duties') }}</li>
        </ul>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-date">01.10.2018 - 01.09.2020</div>
      <div class="timeline-content glass">
        <h3>{{ translate('exp.net_title') }}</h3>
        <p class="company">{{ translate('exp.bgk_company') }}</p>
        <ul>
          <li>{{ translate('exp.bgk_duties') }}</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-date">01.08.2017 - 30.09.2018</div>
      <div class="timeline-content glass">
        <h3>{{ translate('exp.net_title') }}</h3>
        <p class="company">{{ translate('exp.tvp_company') }}</p>
        <ul>
          <li>{{ translate('exp.tvp_sport_duties') }}</li>
          <li>{{ translate('exp.tvp_quiz_duties') }}</li>
          <li>{{ translate('exp.tvp_other_duties') }}</li>
          <li>{{ translate('exp.tvp_contracts_duties') }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>